@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

html { font-family: 'Inter', sans-serif; }

:root {
  /* Colours */
  --color-default: #333;
  --color-black: #111;
  --color-accent: var(--ghost-accent-color);
  --color-accent-hover: #227cb5;
  --color-yellow: #EEF13B;
  --color-light-grey: #E3E3E3;
  --color-lightest-grey: #f8f8f8;
  --color-mid-grey: #aaa;
  --color-grey: #666;
  --color-white: #fff;
  --page-bg: var(--color-white);
  --box-shadow: rgba(0,0,0,0.2);

  /* Layout */
  --box-corner-radius: 10px;
}


* {box-sizing: border-box;border:0;margin:0;padding:0;}

body {
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.4;
  letter-spacing: -0.02em;
  color: var(--color-default);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 1rem 1rem 0;
  background-color: var(--page-bg);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


/* Page structure */

.container {
  width: 100%;
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
}
.container--narrow {
  max-width: 680px;
}
@media (max-width: 700px) {
  .container {
    margin: auto;
    max-width: 480px;
  }
  .head.container {
    max-width: 100%;
  }
}

.centered {
  margin-left: auto;
  margin-right: auto;
}


.mb0 { margin-bottom: 0rem; }
.mb1 { margin-bottom: 1rem; }
.mb2 { margin-bottom: 2rem; }
.mb3 { margin-bottom: 3rem; }
.mb4 { margin-bottom: 4rem; }
.mt0 { margin-top: 0rem !important; }
.mt1 { margin-top: 1rem; }
.mt2 { margin-top: 2rem; }
.mt3 { margin-top: 3rem; }
.mt4 { margin-top: 4rem; }

#myImage {
    max-width: 700px; /* Adjust the width as per your requirement */
}

hr {
  margin: 2rem 0;
  border-top: 1px solid var(--color-light-grey);
}

img {
  max-width: 100%;
}

p {
  margin: 1rem 0;
}


/* Text */

.fs45 { font-size: 2.81rem }
.fs40 { font-size: 2.5rem }
.fs36 { font-size: 2.25rem; }
.fs32 { font-size: 2.0rem; }
.fs28 { font-size: 1.75rem; }
.fs24 { font-size: 1.5rem; }
.fs20 { font-size: 1.25rem; }
.fs18 { font-size: 1.125rem; }
.fs16 { font-size: 1rem; }
.fs14 { font-size: 0.875rem; }

.b { font-weight: bold }

.font-script {
  font-family: 'Gloria Hallelujah', cursive;
}

.lhtitle { line-height: 1.2; }

.tc { text-align: center; }
.tr { text-align: right; }
.normal { font-weight: normal; }
.ttu { text-transform: uppercase; }

.color-accent { color: var(--color-accent) }
 
.color-text,
.color-text a:link,
a:link.color-text { color: var(--color-default) !important; }

.color-grey,
.color-text a:hover,
a:hover.color-text,
.color-grey a,
a.color-grey { color: var(--color-grey) !important; }

.line {
  width: 87px;
  border: 2px solid var(--color-accent);
}
.line--center {
  margin-left: auto;
  margin-right: auto;
}


/* Links */

a:link,
a:visited {
  color: var(--color-accent);
  transition: color 0.3s;
}
a:hover {
  color: var(--color-accent-hover);
}

.nolink { 
  text-decoration: none;
}


/* Forms */

input, select, button, textarea, .button {
  display: inline-block;
  margin-bottom: 0.5rem; 
  appearance:none; 
  -webkit-appearance: none; 
  -moz-appearance: none;
  border-radius: var(--border-radius);
  line-height: 2em;
  padding: 0.25rem 1rem;
  border: 1px solid var(--color-light-grey);
  background-color: var(--color-white);
  color: var(--color-default);
}
input, select, button, textarea {
  font-size: inherit;
  font-family: inherit;
  transition: border 0.2s;
}
.tc input, .tc select, .tc button, .tc textarea {
  text-align: center;
}
input:focus, select:focus, button:focus, textarea:focus {
  outline:none;
  border-color: var(--color-mid-grey);
}
button, .button, a.button {
  cursor: pointer;
  white-space: nowrap;
  font-weight: bold;
  border-color: var(--color-accent);
  background-color: var(--color-accent);
  color: var(--color-white);
  text-decoration: none;
}
.button--wide {
  width: 100%;
  text-align: center;
}
button:not([disabled]):hover,
.button:not([disabled]):hover {
  transition: background-color 0.3s, border-color 0.3s; 
}
button[disabled=true],
.button[disabled=true],
form.loading button,
.button.loading {
  background-color: var(--color-mid-grey);
  border-color: var(--color-mid-grey);
}

.button-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 -0.5rem;
}
.button-flex .button {
  flex: 1 1 200px;
  text-align: center;
  margin: 0.5rem;
}

form label,
form input,
form select,
form textarea,
form button {
  display: block;
  width: 100%;
}

form label { font-weight: bold; margin: 1rem 0 0.5rem; }
form textarea { min-height: 100px; }

.form-flex {
  display: flex;
}
.form-flex button {
  width: auto;
}

.form-stacked {
  flex-direction: column;
}

form .button-loader,
.button .button-loader {
  display: none;
}

form.loading .button-loader,
.button.loading .button-loader {
  display: inline-block;
}
form.loading .button-content,
.button.loading .button-content {
  display: none;
}
.button {
  border-bottom: none;
}

form .success-message {
  display: none;
  border: 1px solid limegreen;
  padding: 1rem;
}
form.success .success-message {
  display: block;
}
form.success .form-body {
  display: none;
}

label { font-weight: bold; }


/* Header */

.head .container {
  display: flex;
  align-items: center;
  padding: 2rem 1rem 2rem;
  min-height: 2.75rem;
}
.head__nav .nav {
  list-style: none
}
.head__nav {
  text-align: right;
  position: relative;
}

.head__nav a {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-default);
}

.head__nav svg {
  transform: translateY(3px);
}

.logo {
  max-height: 60px;
  max-width: 180px;
  vertical-align: middle;
}

@media (max-width: 890px) {
  /* Mobile nav */
  .head {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem 1rem;
    background: var(--page-bg);
    border-bottom: 1px solid var(--color-light-grey);
    z-index: 1;
  }
  .head .container {
    padding: 0;
    max-width: 100%;
  }
  body {
    padding-top: 3.75rem
  }
  .head__logo, .head__nav { width: 50%; }

  .nav-trigger { padding: 0.5rem; cursor: pointer; }

  .nav-wrapper { display: inline-block; }
  .nav-wrapper .nav {
    position: absolute;
    display: none;
    right: 0;
    top: 30px;
    border: 1px solid var(--light-grey);
    border-radius: var(--box-corner-radius);
    z-index: 10;
    box-shadow: 0px 2px 4px var(--box-shadow);
  }
  .nav-wrapper:not(.subnav):hover > .nav {
    display: block;
  }
  .nav-wrapper .nav li a {
    padding: 0.4rem 1rem;
    display: block;
    border: 0;
    background-color: var(--page-bg);
    min-width: 140px;
  }
  .nav-wrapper .nav li:first-of-type a {
    border-radius: var(--box-corner-radius) var(--box-corner-radius) 0 0;
  }
  .nav-wrapper .nav li:last-of-type a {
    border-radius: 0 0 var(--box-corner-radius) var(--box-corner-radius);
  }
  .nav-wrapper .nav li a:hover {
    background-color: var(--color-light-bg)
  }

  .subnav .nav { display: none }
  .subnav .nav-trigger { display: none; }
  .subnav.nav-wrapper { display: block; }
}
@media (min-width: 891px) {
  /* Larger screen nav */
  .head {
    margin: -1rem -1rem 0 -1rem;
    background-color: var(--color-light-bg);
  }
  .head__nav {
    flex: 1 1 auto;
  }
  .head__nav a {
    margin-left: 1.5rem;
  }
  .head__nav .nav li {
    display: inline-block;
    position: relative;
  }
  .head__nav > .nav-trigger { display: none; }

  .nav-wrapper { display: inline-block; }
  .nav-wrapper .nav > li a {
    padding: 0.5rem 0rem;
    border-bottom: 2px solid transparent;
  }

  .nav-wrapper .nav > li.nav-current a {
    border-color: var(--color-accent);
    color: var(--color-accent);
  }

  /* Hide man mobile nav */
  .head__nav > .nav-wrapper > .nav-trigger {
    display: none;
  }

  .subnav .nav-trigger { padding: 0.5rem; margin-right: -0.5rem; cursor: pointer; font-size: 12px }
  .subnav.nav-wrapper { display: inline-block; }
  .subnav.nav-wrapper .nav {
    position: absolute;
    display: none;
    left: 0.5rem;
    top: 28px;
    border: 1px solid var(--light-grey);
    border-radius: var(--box-corner-radius);
    z-index: 10;
    box-shadow: 0px 2px 4px var(--box-shadow);
  }
  .subnav.nav-wrapper:hover > .nav {
    display: block;
  }
  .subnav.nav-wrapper .nav li {
    display: list-item;
  }
  .subnav.nav-wrapper .nav li a {
    padding: 0.4rem 1rem;
    margin-left: 0;
    display: block;
    border: 0;
    background-color: var(--page-bg);
    min-width: 200px;
    text-align: left;
  }
  .subnav.nav-wrapper .nav li:first-of-type a {
    border-radius: var(--box-corner-radius) var(--box-corner-radius) 0 0;
  }
  .subnav.nav-wrapper .nav li:last-of-type a {
    border-radius: 0 0 var(--box-corner-radius) var(--box-corner-radius);
  }
  .subnav.nav-wrapper .nav li a:hover {
    background-color: var(--color-light-bg)
  }
  
}


/* Home */

.home-slant {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90rem;
  background-color: var(--color-light-bg);
  z-index: -1;
}
.home-slant:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -11vw;
  width: 100%;
  height: 11vw;
  background: var(--color-light-bg);
  transform: skew(-84deg);
  transform-origin: top;
  z-index: -1;
}

.home__checkout {
  position: relative;
  margin-top: 2rem;
  padding-bottom: 5rem;
}
.home__arrow {
  position: absolute;
  left: 13rem;
  top: 3rem;
}
.home__arrow svg path {
  fill: var(--color-default)
}
@media (min-width: 501px) {
  .home__arrow {
    left: 18rem;
  }
}

.home__intro h2, .home__intro h3 {
  font-weight: normal;
}

@media (min-width: 701px) {
  .home__hero {
    display: flex;
    justify-content: space-between;
  }
  .page-newsletter .home__hero {
    align-items: center;
  }
  .home__video,
  .home__intro {
    margin: 0;
    width: 45%;
  }

  .home__video lite-youtube {
    margin-top: 3rem;
  }

  .home-slant {
    height: var(--home-slant-height);
  }

  .home__checkout {
    margin-left: 3rem;
  }
}


.home__topic-block {
  display: block;
  padding: 2rem 1rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px var(--box-shadow);
  background-color: var(--page-bg);
  transition: color 0.3s, transform 0.3s !important;
}

.home__topic-block:hover {
  transform: translateY(-3px);
}

.home__explore-box {
  display: block;
  padding: 1.5rem;
  margin-bottom: 1rem;
  background-color: var(--color-light-bg);
  display: flex;
  align-items: center;
}

.home__explore__icon {
  flex: 0 0 4rem;
  padding-left: 0.5rem;
}

.article-link {
  display: flex;
  align-items: baseline;
  padding: 1rem 0;
  border-bottom: 1px solid var(--color-light-grey)
}
.article-link__date {
  flex: 0 0 72px;
}

@media (min-width: 701px) {
  .home__topics,
  .home__sections {
    display: flex;
    justify-content: space-between;
  }
  .home__topics {
    margin: 0 -1.5rem;
  }
  .home__topic-block {
    flex: 1 0 250px;
    margin: 1.5rem;
  }

  .home__explore,
  .home__latest {
    width: 46%;
  }
}


/* Posts */

.post-header {
  margin: 0 -1rem;
  width: calc(100% + 2rem);
  padding: 3rem 1rem;
  background-color: var(--color-light-bg);
}

.post-image { 
  margin-bottom: 3rem;
}
.post-image--small { 
  height: 200px;
}

.table-of-contents {
  padding: 2rem;
  background-color: var(--color-light-bg);
  margin-bottom: 3rem;
}
.is-active-link::before {
  background-color: var(--color-accent) !important;
}
.toc-link {
  text-decoration: none;
}
.toc-link:hover::before {
  background-color: var(--color-light-grey);
}

/* Bold H2 in ToC */
.toc-link.node-name--H2 {
  font-weight: 700 !important;
}

/* Post/Page column */
.post-content {
  max-width: 680px;
  line-height: 1.6;
  font-size: 1.125em;
}

/* Main content area styling */
.main-content {
  line-height: 1.6;
  flex-grow: 1;
}
.main-content h2,
.main-content h3,
.main-content h4 {
  margin-top: 1.5em;
}
.main-content blockquote {
  border-left: 4px solid var(--color-accent);
  padding-left: 1rem;
  margin: 1rem 0;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
}
.main-content blockquote.kg-blockquote-alt {
  border-left: 0;
  padding: 0 2rem;
  margin: 2rem 0;
  font-family: Georgia, serif;
  font-size: 2rem;
  line-height: 1.4;
}

.main-content ul li,
.main-content ol li {
  margin: 0.5rem 0 0.5rem 1.5rem;
}

.main-content li.toc-list-item {
  margin: 0;
}
.main-content li.toc-list-item a {
  display: block;
  padding: 0.25rem;
}

#cove-input-body {
  min-height: 0;
}
.cove-body p:first-of-type {
  margin-top: 0;
}


/* Author */

.author-links a {
  padding: 4px;
}


/* Hub pages */

.hub-sidebar {
  display: none;
}

@media (min-width: 701px) {
  .hub-cols {
    display: flex;
  }
  .hub-cols .post-content {
    flex: 0 1 680px;
  }
  .hub-sidebar {
    display: block;
    width: 268px;
    margin-left: 4rem;
  }
}


/* Articles page */

.page-articles .topics .topic {
  margin: 2rem 0;
}

.page-articles .article-more-link {
  display: block;
  padding: 1rem 0;
}

@media (min-width: 701px) {
  .page-articles .topics {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .page-articles .topics .topic {
    width: 46%;
  }
}


/* Book summaries */

@media (min-width: 701px) {
  .books {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .book-card {
    width: 46%;
  }
}
.book-card {
  display: flex;
}
.book__art {
  flex: 0 0 150px;
  margin-right: 1.5rem;
}
.book-cover {
  border-radius: 5px;
  box-shadow: 0px 2px 6px var(--box-shadow);
}
.book__art img {
  width: 100%;
}
@media (min-width: 801px) {
  .books {
    display: flex;
  }
}


/* Podcast */

.episode {
  display: block;
}
@media (min-width: 701px) {
  .episodes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .episode {
    width: 46%;
  }
}


/* Memberships */

.plan {
  margin: 1rem 0.5rem;
  padding: 1.5rem;
  border: 2px solid var(--color-light-grey);
  border-radius: var(--box-corner-radius);
  flex: 1 0 260px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.plans {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.plan-features {
  list-style: none;
  padding-left: 0;
}
ul.plan-features li {
  padding-left: 24px;
  margin-left: 0;
}
.plan-features li:before {
  display: inline-block;
  content: '✓';
  width: 20px;
  margin-left: -20px;
  color: var(--color-accent);
  font-family: system-ui, sans-serif;
}


/* Post elements */

.kg-bookmark-card {
  width: 100%;
  margin: 3rem 0;
  position: relative;
}

a.kg-bookmark-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  color: currentColor;
  font-family: inherit;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.1) !important;
  border-radius: var(--box-corner-radius);
  color: var(--color-default);
}

a.kg-bookmark-container:hover {
  text-decoration: none;
  color: var(--color-grey)
}

.kg-bookmark-content {
  width: 100%;
  padding: 1rem;
  order: 1;
  color: var(--dark-grey);
  background-color: var(--color-lightest-grey);
  border-radius: 0 0 var(--box-corner-radius) var(--box-corner-radius);
}

.kg-bookmark-title {
  font-weight: 600;
}

.kg-bookmark-metadata,
.kg-bookmark-description {
  margin-top: .5em;
}

.kg-bookmark-metadata {
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.kg-bookmark-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.kg-bookmark-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
  margin-right: .5em;
  margin-bottom: .05em;
}

.kg-bookmark-thumbnail {
  display: flex;
  width: 100%
}

.kg-bookmark-thumbnail img {
  max-width: 100%;
  height: auto;
  max-height: 370px; /* Fix weird heights mobile */
  vertical-align: bottom;
  object-fit: cover;
  box-shadow: none;
  border-radius: var(--box-corner-radius) var(--box-corner-radius) 0 0;
}

@media (min-width: 601px) {

  .kg-bookmark-thumbnail {
    width: 36%;
  }
  .kg-bookmark-content {
    width: 64%;
    border-radius: var(--box-corner-radius) 0 0 var(--box-corner-radius);
  }

  .kg-bookmark-thumbnail img {
    border-radius: 0 var(--box-corner-radius) var(--box-corner-radius) 0;
  }
}


.kg-bookmark-author {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.kg-bookmark-publisher::before {
  content: "•";
  margin: 0 .5em;
}

/* Caption changes */

.kg-card figcaption{
  text-align: center;
  font-size: 0.8em;
  color: var(--color-grey);
}

/* Scaling the in-post images */

.kg-image-card img {
  height: auto;
  width: 100%;
}

.kg-width-wide,
.kg-width-full {
  position: relative;
  width: 75vw;
  min-width: 100%;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  transform: translateX(calc(50vw - 50%));
}
.kg-width-full {
  width: 100vw;
}


.kg-image-card figcaption,
.kg-gallery-card figcaption {
  margin: 0 0 1.5em;
  font-size: 0.88em;
}

.kg-embed-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5em 0 3em;
  min-width: 100%;
}

.kg-embed-card figcaption {
  margin: 0.5em 0 0;
}

.kg-embed-card .fluid-width-video-wrapper {
  margin: 0;
}


.kg-image-full + figcaption {
  padding: 0 1.5em;
}


.kg-gallery-container {
  display: flex;
  flex-direction: column;
  margin: 1.5em auto;
  max-width: 1040px;
  width: 100%;
}

.kg-gallery-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.kg-gallery-image img {
  display: block;
  margin: 0;
  width: 100%;
  height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
  margin: 0.75em 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
  margin: 0 0 0 0.75em;
}

.post-content .kg-toggle-card {
  padding: 0;
}
.kg-toggle-heading {
  padding: 1rem;
}
.kg-toggle-card[data-kg-toggle-state=open] .kg-toggle-content {
  padding: 1rem;
  margin-top: -1rem;
}
.post-content .kg-toggle-content p:first-of-type {
  margin-top: 0;
}

.kg-toggle-card-icon {
  box-shadow: none;
  padding: 0;
  margin-bottom: 0;
}
.post-content .kg-toggle-card h4.kg-toggle-heading-text {
  padding-top: 0;
}

.kg-toggle-card,
.kg-callout-card,
.kg-button-card {
  margin: 1rem 0;
}
.post-content .kg-button-card a.kg-btn {
  font-family: inherit;
  font-size: inherit;
}


.post-content pre {
  overflow: auto;
  padding: 0.5rem 1rem;
  margin-bottom: 0;
}
.post-content pre,
.post-content code {
  background-color: var(--color-lightest-grey);
  border: 1px solid var(--color-light-grey);
  border-radius: 5px;
  font-size: 0.875rem;
}
.post-content code {
  padding: 0.125rem 0.25rem;
}
.post-content pre > code {
  padding: 0;
  background-color: transparent;
  border: none;
}

.author {
  display: flex;
}
.author .author__image {
  flex-shrink: 0;
}
.author .author__image + .author__bio {
  margin-left: 1rem;
}
.avatar {
  width: 4rem;
  border-radius: 2rem;
}


/* Content CTA */

.content-cta {
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem 1rem;
  background-color: var(--color-light-bg);
}
.gradient-pre::before {
  position: relative;
  display: block;
  background: linear-gradient(180deg, hsla(0,0%,100%,0), var(--page-bg));
  content: "";
  height: 16rem;
  margin-top: -16rem;
  margin-bottom: 0;
}


/* Footer */

.footer {
  padding: 2rem 1rem;
  margin: 0 -1rem;
  width: calc(100% + 2rem);
  background-color: var(--color-black);
  color: var(--color-mid-grey);
}

.footer-col {
  margin-bottom: 1rem;
}

.footer-col a {
  color: var(--color-light-grey);
}

@media (max-width: 700px) {
  .footer-col {
    text-align: center;
  }
}

@media (min-width: 701px) {
  .footer-cols {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-col  {
    width: 48%;
    margin-bottom: 0;
  }
}

.newsletter-block {
  padding: 3rem 1rem;
  background-color: var(--color-light-bg);
  margin: 4rem -1rem 0;
  width: calc(100% + 2rem);
}

.footer .nav li {
  display: inline-block;
  margin: 0 0.25rem;
}

.social-list {
  list-style: none;
}
.social-list li {
  display: inline-block;
  margin: 0 0.5rem;
}
.social-list svg g,
.social-list svg path {
  fill: var(--color-light-grey);
  transition: fill 0.2s;
}
.social-list a:hover svg g,
.social-list a:hover svg path {
  fill: var(--color-white);
}


/* 404 graphic */

.errorpic img {
  width: 100% !important;
  height: 100%;
  max-width: 60vw;
  text-align: center;
}